/* ========================= */
/* ======= Variables ======= */
/* ========================= */

:root {
  /* Colors */
  --white: #fff;
  --light-gray: #f2f2f4;
  --mild-gray: #dbdbdd;
  --medium-gray: #b7b7b8;
  --dark-gray: #4c4c4f;
  --black: #000;
  --green: #2a8643;
  --dark-green: #006736;
  --blue: #2b79bf;
  --red: #ef2039;

  /* Breakpoints */
  --small: 576px;
  --medium: 768px;
  --large: 1024px;
  --xlarge: 1200px;
  --xxlarge: 1440px;

  /* Grid */
  --gutter: 16px;

  /* Shadows */
  --box-shadow: 0 2px 2px 0 rgb(77 77 79 / 8%), 0 0 2px 0 rgb(77 77 79 / 16%);
}

html,
body {
  background-color: var(--light-gray);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 0;
}

/* ========================== */
/* ========== Grid ========== */
/* ========================== */

.container {
  height: 100%;
  margin: auto;
  max-width: 1100px;
  padding: 0 var(--gutter);
  box-sizing: border-box;
}

.row {
  display: flex;
  height: 100%;
  align-items: center;
}

.col {
  margin: 0 var(--gutter);
}

.col:first-child {
  margin-left: 0;
}

.col:last-child {
  margin-right: 0;
}

/* ============================ */
/* ===== Header (Desktop) ===== */
/* ============================ */

.header {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  height: 80px;
}

.header .row {
  justify-content: space-between;
}

.logo {
  width: 180px;
}

.help {
  color: var(--medium-gray);
  font-size: 12px;
}

main .steps {
  margin-bottom: 24px;
}

main .steps h2 {
  margin: 0;
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  color: var(--medium-gray);
  font-weight: 500;
}

main .steps h2.active {
  color: var(--dark-gray);
}

main .steps h2::after {
  content: "/";
  color: var(--medium-gray);
  margin: 0 12px;
}

main .steps h2:last-child::after {
  content: "";
}

/* Small down */
@media (max-width: 576px) {
  .header {
    display: none;
  }

  main .steps {
    display: none;
  }
}

/* ============================ */
/* ===== Header (Mobile) ====== */
/* ============================ */

.mobile-header {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.mobile-header .container {
  padding-bottom: 16px;
}

.mobile-header h1 {
  color: var(--black);
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  margin: 0;
}

.mobile-header h1 {
  padding: var(--gutter);
}

.mobile-header .col {
  min-width: 40px;
}

.mobile-header .col:nth-child(2) {
  flex: 1;
}

.mobile-header a {
  text-decoration: none;
}

.cancel {
  color: var(--blue);
  font-size: 12px;
}

.mobile-header .steps {
  background-color: var(--light-gray);
  border-radius: 4px;
  overflow: hidden;
  height: 28px;
  position: relative;
}

.mobile-header .steps h2 {
  font-size: 12px;
  text-align: center;
  color: var(--medium-gray);
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.mobile-header .steps .col {
  flex: 1;
  margin: 0;
  position: relative;
}

.mobile-header .steps .col:nth-child(1):before,
.mobile-header .steps .col:nth-child(1):after,
.mobile-header .steps .col:nth-child(2):before,
.mobile-header .steps .col:nth-child(2):after {
  background: var(--light-gray);
  content: "";
  height: 50%;
  position: absolute;
  left: 3px;
  width: 100%;
}

.mobile-header .steps .col:nth-child(2):before,
.mobile-header .steps .col:nth-child(2):after {
  background: var(--dark-gray);
}

.mobile-header .steps .col:nth-child(1):before,
.mobile-header .steps .col:nth-child(2):before {
  top: 0;
  transform: skewX(30deg);
}

.mobile-header .steps .col:nth-child(1):after,
.mobile-header .steps .col:nth-child(2):after {
  bottom: 0;
  transform: skewX(-30deg);
}

.mobile-header .steps .active h2 {
  color: var(--white);
}

/* Small up */
@media (min-width: 576px) {
  .mobile-header {
    display: none;
  }
}

/* ========================= */
/* ====== Page layout ====== */
/* ========================= */

main {
  margin-top: calc(var(--gutter) * 3);
}

main .row {
  align-items: flex-start;
}

main section,
main aside {
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

main section {
  flex: 1;
}

main aside {
  margin-bottom: 24px;
  padding: 24px 16px;
  min-width: 343px;
  box-sizing: border-box;
}

/* Large down */
@media (max-width: 1024px) {
  .row.content {
    flex-direction: column;
  }

  .row.content .col {
    margin: 0 0 var(--gutter);
    width: 100%;
  }

  main aside {
    width: 100%;
  }
}

/* Small down */
@media (max-width: 576px) {
  html,
  body {
    height: 100%;
  }

  main section,
  main aside {
    box-shadow: none;
  }

  main aside {
    margin-bottom: 0;
  }

  main {
    background-color: var(--white);
    height: calc(100% - 108px);
    margin-top: 10px;
  }

  main .container {
    padding: 0;
  }

  .row.content .col:last-child {
    position: fixed;
    bottom: 0;
  }
}

/* ======================== */
/* ========= Form ========= */
/* ======================== */

form {
  padding: 16px 16px 32px;
}

.form-title {
  border-bottom: 1px solid var(--light-gray);
  padding: 24px;
}

.form-title h1 {
  color: var(--black);
  font-size: 16px;
  margin: 0;
}

.expiry-date {
  align-items: center;
  display: flex;
}

.expiry-date .field {
  flex: 1;
}

.expiry-date .field:first-child {
  margin-right: calc(var(--gutter) / 2);
}

.expiry-date .field:last-child {
  margin-top: -12px;
  margin-left: calc(var(--gutter) / 2);
}

.field {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.field:last-child {
  margin-bottom: 0;
}

.field label {
  color: var(--medium-gray);
  display: block;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
  line-height: 16px;
}

.field.error label {
  color: var(--red) !important;
}

.field input,
.field select {
  background-color: var(--light-gray);
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--white);
  box-shadow: inset 0px -2px 0px 0px rgb(219, 219, 221);
  box-sizing: border-box;
  color: var(--dark-gray);
  font-size: 14px;
  height: 40px;
  padding: 0 12px;
  width: 100%;
}

.field select {
  appearance: none;
  background: var(--light-gray) url("images/drop-down-arrow.svg") no-repeat 100%
    25%;
}

.field input:focus,
.field select:focus {
  border-bottom-color: var(--blue);
  outline: none;
  box-shadow: none;
}

.field input:focus ~ label {
  color: var(--blue);
}

.field.error input {
  border-bottom: 2px solid var(--red);
  box-shadow: none;
}

.field span {
  color: var(--medium-gray);
  display: block;
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}

.field.error span {
  color: var(--red);
}

a.cvv-help {
  position: absolute;
  right: 10px;
  top: 33px;
}

a.cvv-help:hover::after {
  cursor: pointer;
  content: "VISA, MASTERCARD & DINER'S CLUB \a The 3 digit CVV number can be found at the back of the \a card. \a\a AMERICAN EXPRESS \a The 4 digit CVV number can be found at the front of the \a card.";
  background: var(--dark-gray);
  min-width: 100px;
  white-space: pre;
  padding: var(--gutter);
  position: absolute;
  color: var(--white);
  border-radius: 4px;
  z-index: 10;
}

/* Small down */
@media (max-width: 576px) {
  .form-title {
    display: none;
  }
}

/* Large down */
@media (max-width: 1024px) {
  a.cvv-help:hover::after {
    display: none;
  }
}

/* ======================= */
/* ======= Sidebar ======= */
/* ======================= */

main aside h2 {
  color: var(--black);
  font-size: 16px;
  margin: 0 0 8px;
  line-height: 24px;
}

main aside span {
  color: var(--dark-gray);
  display: block;
  font-size: 14px;
}

main aside hr {
  border-top: 1px dashed var(--mild-gray);
  border-bottom: 0;
  border-left: 0;
  margin: 36px 0 20px;
}

.to-pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.to-pay h3 {
  color: var(--black);
  font-size: 14px;
  margin: 0;
}

.to-pay h3:last-child {
  font-size: 16px;
}

button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  height: 40px;
  width: 100%;
  margin-bottom: 8px;
  transition: background-color 300ms;
}

button:hover {
  background-color: var(--dark-green);
  cursor: pointer;
}

.secure-notice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.secure-notice span {
  text-align: center;
  color: var(--dark-gray);
  font-weight: 600;
}

.secure-notice img {
  height: 14px;
  margin-right: 6px;
}

main a {
  color: var(--blue);
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  display: block;
}

main a:hover {
  text-decoration: underline;
}

/* Small down */
@media (max-width: 576px) {
  main aside h2,
  main aside span,
  main aside hr,
  main aside .to-pay {
    display: none;
  }

  .secure-notice {
    display: none;
  }
}

/* Medium down */
@media (max-width: 768px) {
  button {
    border-radius: 20px;
  }
}

/* ======================= */
/* ====== CVV Dialog ===== */
/* ======================= */

aside.cvv-dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside.cvv-dialog div {
  background-color: var(--white);
  padding: var(--gutter);
  text-align: center;
  border-radius: 4px;
  max-width: 360px;
  position: relative;
}

aside.cvv-dialog div button.close {
  background: none;
  position: absolute;
  padding: 0;
  width: auto;
  margin: 0;
  top: -42px;
  right: -4px;
}

aside.cvv-dialog h6,
aside.cvv-dialog p {
  color: var(--dark-gray);
  margin: 0;
  font-size: 13px;
  font-weight: 500;
}

aside.cvv-dialog p {
  margin-bottom: var(--gutter);
}

aside.cvv-dialog h6 {
  margin-bottom: 4px;
}

aside.cvv-dialog div button {
  background-color: var(--blue);
}

/* Medium up */
@media (min-width: 768px) {
  aside.cvv-dialog {
    display: none;
  }
}
